<div class="row">
	<div class="col text-center">
		<h3>Caso Practico Ruby On Rails</h3>
		<p>puedes acceder a los usuarios desde el menu o desde </p>
		<p><%= link_to "Aqui", users_path, class:"btn btn-primary" %></p>

	</div>
</div>