
  <p>
    <%=link_to animal.nombre, [animal.user, animal] %>
  </p>
 
  <p>
    <strong>edad:</strong>
    <%= animal.edad %>
  </p>
  <p>
    <strong>sexo:</strong>
    <%= animal.sexo %>
  </p>
  <p>
    <strong>tipo:</strong>
    <%= animal.tipo %>
  </p>

