
  <p>
    <%=link_to animal.nombre,user_animal_path(@user) %>
  </p>
 
  <p>
    <strong>edad:</strong>
    <%= animal.edad %>
  </p>
  <p>
    <strong>sexo:</strong>
    <%= animal.sexo %>
  </p>
  <p>
    <strong>tipo:</strong>
    <%= animal.tipo %>
  </p>

