<div class="row mt-2">
  <div class="col">
    <table class="table table-striped table-hover">
      <tr>
        <th>
          <%=link_to animal.nombre, user_animal_path(@user,animal) %>
        </th>
        <td class="text-right">
          <%= link_to "Editar", edit_user_animal_path(@user,animal), class:"btn btn-warning" %>
        </td>
      </tr>

    </table>
  </div>
</div>
  

