<p>
  <strong>Nombre:</strong>
  <%= @animal.nombre %>
</p>
 
<p>
  <strong>edad:</strong>
  <%= @animal.edad %>
</p>
<p>
  <strong>sexo:</strong>
  <%= @animal.sexo %>
</p>
<p>
  <strong>tipo:</strong>
  <%= @animal.tipo %>
</p>